body {
  background: #8D6E63 url("../img/tg_image_289862459.jpeg");
  background-size: 150px;
}

.clicker-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clicker {
  overflow: hidden;
  background: none;
  border: none;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  position: relative;
  outline: none;
  transition: transform 1.3s, background-color 1s, width 2s, height 2s;
}

.bgdr-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#clicker:hover {
  width: 220px;
  height: 220px;
  margin-top: 70px;
}

.button {
  outline: none;
  transition: box-shadow 0.5s, background 0.5s;
}

#clicker:active {
  background-color: rgba(194, 151, 136, 0.62);
  transform: rotate(180deg);
}

#clicker:hover {
  width: 1300px;
  height: 1300px;
}

.yellow-text {
  font-family: Avenir;
  margin-left: 20px;
  color: black;
  font-size: 45px;
  font-weight: 700;
}

.light-brown-text {
  font-family: Avenir;
  color: #A1887F;
}

#clicks {
  margin-left: 20px;
  position: absolute;
  bottom: 0;
}

#purchase, #purchase-two, #purchase-three {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 70px;
  border: none;
  border-radius: 2px;
  margin-right: 20px;
  right: 0;
  font-size: 14px;
}

#purchase {
  margin-top: -40px;
}

#purchase-two {
  margin-top: 50px;
}

#purchase:disabled, #purchase-two:disabled, #purchase-three:disabled {
  background-color: #9E9E9E;
}
